/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ad0b31;
  --ifm-color-primary-dark: #9c0a2c;
  --ifm-color-primary-darker: #93092a;
  --ifm-color-primary-darkest: #790822;
  --ifm-color-primary-light: #be0c36;
  --ifm-color-primary-lighter: #c70d38;
  --ifm-color-primary-lightest: #e10e40;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #eee7e9;
  --ifm-color-primary-dark: #dbccd0;
  --ifm-color-primary-darker: #d1bec3;
  --ifm-color-primary-darkest: #b4959e;
  --ifm-color-primary-light: #ffffff;
  --ifm-color-primary-lighter: #ffffff;
  --ifm-color-primary-lightest: #ffffff;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
